name: Bulid android bundle

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: "17"
        distribution: temurin
        cache: gradle

    - name: Clean
      run: ./gradlew clean

    - name: Build APK
      run: ./gradlew assembleRelease

    - name: Upload APK artifacts
      uses: actions/upload-artifact@v4
      with:
        name: apks
        path: "app/build/outputs/apk/release/*.apk"

    - name: Bulid bundle
      run: ./gradlew bundleRelease --warning-mode all

    - name: Upload bundle artifacts
      uses: actions/upload-artifact@v4
      with:
        name: bundles
        path: "app/build/outputs/bundle/release/*.aab"
